* {
  box-sizing: border-box;
}

:root {
  --c0: #223355;
  --c1: #4488FF;
  --y: #FFF;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-UI-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-UI-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-UI-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-UI-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

html, body {
  font-family: 'Inter', helvetica;
  color: var(--c0);
  background: var(--y);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, .h1 {
  font-size: calc((40 / 16) * 1rem);
}
h2, .h2 {
  font-size: calc((34 / 16) * 1rem);
}
h3, .h3 {
  font-size: calc((28 / 16) * 1rem);
}
h4, .h4 {
  font-size: calc((22 / 16) * 1rem);
}
h5, .h5 {
  font-size: calc((16 / 16) * 1rem);
}
h6, .h6 {
  font-size: calc((10 / 16) * 1rem);
}

.track {
  letter-spacing: 0.2em;
}
